* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1200px;
}

h1.page-header {
    color: #e31837;
    margin-bottom: 20px;
    border-bottom: 1px solid #e31837;
    padding-bottom: 10px;
    font-size: 32px;
}

.banner {
    width: 100%;
}

.top-menu {
    text-align: center;
    background: #f8f8f8;
    height: 36px;
}

.top-menu .drop-element {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
    z-index: 3;
}

.top-menu .drop-element .drop-items {
    display: none;
    position: absolute;
    top: 34px;
    left: 0;
    background: #fff;
    padding: 0;
    border: 1px solid #eee;
    text-align: left;
}

.top-menu .drop-element a {
    display: inline-block;
    color: #929292;
    text-decoration: none;
    padding: 5px 10px;
    text-align: left;
}

.top-menu .drop-element > a {
    border: 1px solid #f8f8f8;
}

.drop-active a {
    border: 1px solid #eee;
}

.drop-down:hover > a {
    border: 1px solid #eee;
}

.top-menu .drop-element > a:hover {
    color: #e31837;
    background: #fff;
    /*border: 1px solid #eee;*/
    cursor: pointer;
}

.top-menu .drop-element:hover {
    background: #fff;
}

.top-menu .drop-element .drop-items a {
    display: block;
    cursor: pointer;
}

.top-menu .drop-element .drop-items a:hover {
    color: #e31837;
    background: #f8f8f8;
}

.top-menu .drop-element .drop-bridge {
    height: 5px;
    position: absolute;
    top: 31px;
    left: 1px;
    width: calc(100% - 2px);
    z-index: 3;
    background: #fff;
    display: none;
}

.top-menu .drop-element:hover .drop-bridge {
    display: block;
}

.social-links {
    text-align: center;
}

.social-links .social-link {
    margin: 0 10px;
    text-decoration: none;
}

.bottom-menu {
    padding: 0px;
    /*border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;*/

    box-shadow: 0 0 5px #eee;
}

.bottom-menu > div {
    display: inline-block;
    /*border: 1px solid ;*/
    height: 38px;
    vertical-align: top;
}

.bottom-menu > .search-block {
    width: calc(100% - 610px);
    padding: 4px;
}

.bottom-menu > .right-block {
    width: 300px;
    text-align: center;
    padding: 0 10px;
}

.bottom-menu > .right-block a {
    display: inline-block;
    border: 1px solid #fff;
    color: #929292;
    text-decoration: none;
    padding: 6px 10px;
    width: calc(50% - 10px);
    text-align: center;
}

.bottom-menu > .right-block a:hover {
    display: inline-block;
    color: #828282;
    text-decoration: none;
    border-bottom: 1px solid #ddd
}

.bottom-menu > .categories {
    width: 300px;
    background: #e31837;
    color: #fff;
    padding: 5px 10px;
    position: relative;
    z-index: 9;
}

.category-title {
    cursor: pointer;
}

.category-list {
    display: none;
    border: 1px solid #ddd;
    width: 300px;
    position: absolute;
    border-top: none;
    background-color: #fff;
    top: 38px;
    left: 0px;
}

.category-item > a {
    color: #595959;
    width: 100%;
}

.category-item:first-child {
    border-top: none;
}

.category-item:last-child {
    border-bottom: none;
}

.category-item > a:hover {
    font-weight: bold;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.category-inner {
    display: none;
    background: #fff;
    margin-left: 301px;
    width: 100%;
    position: absolute;
    top: 38px;
    border: 1px solid #eee;
    left: -12px;
    padding: 10px;
}

.category-inner-container {
    width: 760px;
    position: absolute;
    top: 0;
}

.category-inner-item {
    display: inline-block;
    width: calc(33.3333% - 10px);
    vertical-align: top;
}

.category-inner-item a {
    /*text-decoration: none;*/
    color: #595959;
}

.category-inner-item a:first-child {
    color: #e31837;
    font-size: 120%;
    margin-bottom: 10px;
}

.category-inner-item a:last-child {
    margin-bottom: 10px;
}

.category-item > a {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
}

.category-item:hover > .category-inner {
    display: block;

}

.category-item:last-child:hover a {
    border-bottom: none;
}

.category-list:hover {
    /*border-right: none;*/
    /*height: 100%;*/
}

.category-inner a {
    display: inline-block;
}

.white-bridge {
    position: absolute;
    z-index: 999999999;
    /* color: #000; */
    background: #fff;
    border: 1px solid;
    top: 0;
    height: 34px;
    left: -2px;
    width: 3px;
    /* border: 1px solid #000; */
}

#search_field {
    height: 30px;
}

#search_field:focus {
    box-shadow: none;
    border: 1px solid #0066FF;
    height: 30px;
}

footer {
    background-color: #0b2e13;
    color: #fff;
    margin-top: 20px;
    padding: 20px 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #ccc;
}

.right {
    text-align: right;
}

.centered {
    text-align: center;
}

.catalog-admin-section {
    box-shadow: 0 0 10px #eee;
    padding: 10px;
    margin-top: 15px;
}

.catalog-admin-section h4 {
    color: #e31837
}

.catalog-admin-section a {
    color: #e31837
}

.page {
    box-shadow: 0 0 5px #ccc;
    padding: 20px;
}

.page h3 {
    color: #e31837;
    border-bottom: 1px solid #e31837;
    margin-bottom: 20px;
}