@import "~select2/dist/css/select2.min.css";
@import "~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css";

.desire-attached {
  color: blue !important;
}

.youtube {
  position: relative;
  padding-top: 28.12%;
  padding-bottom: 28.12%;
  height: 450px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.li-video {
  display: block !important;

  a {
    background-color: red !important;
    color: white !important;
    border-radius: 100px !important;
    width: 50px !important;
    height: 50px !important;
    font-size: 31px;
    padding-top: 8px !important;
    padding-left: 0px !important;
  }
}

.grid_item {
  margin-bottom: 0 !important;
}

.grid_item_2 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1;
  z-index: 2;
  margin-bottom: 40px;

  li {
    margin-bottom: 5px;
    position: relative;
    display: inline-block;

    a {
      background-color: #d7d7d7;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      width: 36px;
      height: 36px;
      color: #444;
      text-align: center;
      line-height: 40px;
      display: block;
      margin: 0;
      padding: 0;
    }
  }
}

.truck {
  float: left;
  background-color: black;
  color: white;
  width: 50px;
  height: 50px;
  font-size: 30px;
  padding-top: 2px;
  padding-left: 9px;
  border-radius: 55px;
  margin-right: 10px;
}

#feedbacks {
  position: fixed;
  bottom: 16px;
  z-index: 500;
  left: 20px;
}

.feedback-item {
  font-size: 30px;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 6px;
  padding-left: 10px;
  margin-bottom: 8px;
  cursor: pointer;

  a {
    color: white;
  }
}

#feedback-contacts {
  display: none;
}

.telegram-feedback {
  background-color: #299fdb;
}

.whatsapp-feedback {
  background-color: #4dc247;
}

.viber-feedback {
  background-color: #9a5aca;
}

.phone-feedback {
  background-color: #ff802c;
}

.email-feedback {
  background-color: #c3c3c3;
}

.menu-feedback {
  background-color: green;
}

.owl-carousel .owl-item img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}