* {
    margin: 0;
    padding: 0;
}

.carousel-caption {
    margin-bottom: 140px;
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

.main-page-header {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 15px;
    color: rgba(83, 28, 26, 0.897);
}

.main {
    margin-top: 0px;
    margin-right: 120px;
    margin-bottom: 20px;
    margin-left: 120px;

    text-align: center;
    background-attachment: relative;
    background-position: center center;

    color: rgba(63, 18, 18, 0.986);

    padding: 10px;

}

.min {
    padding-bottom: 40px;
}

.footer {
    margin-top: 0px;
    padding: 12px;
    text-align: center;

    background-color: rgb(39, 32, 32);

    color: white;
}

.foot, h5 {
    color: rgb(104, 104, 104);
}

.copyright {
    padding: 10px;

    background-color: rgb(19, 17, 17);
    text-align: center;
    color: rgb(136, 133, 133);
}

.nav-link {
    color: #ccc;
}

.nav-link:hover {
    color: #aaa;
}

.centered {
    text-align: center;
}

/* стилі до register.php  та входу */
.mycontainer {
    margin: 0;
    background-image: url(http://www.joburgchiropractor.co.za/images/background.jpg);
}

.cart {
    padding-bottom: 60px;
}

.card-body {
    max-width: 500px;
}

.text {
    color: #145457;
}

.p {
    color: #145457;
}

.mybloc {
    text-align: center;
    margin: 20px;
}

.custom-select {
    max-width: 120px;
}

.main-product-items .main-product-item {
    margin-bottom: 30px;
}
