.products {
    box-shadow: 0 0 10px #ccc;
    padding: 30px;
    margin-top: 15px
}

.products > h2 {
    border-bottom: 1px solid #e31837;
    color: #e31837;
    margin-bottom: 30px;
}

.product {
    /*box-shadow: 0 0 10px #ccc;*/
    transition: 0.3s ease;
    border: 1px solid #eee;
}

.product-top > a {
    display: block;
}

.product:hover {
    box-shadow: 0 0 5px #aaa;
}


.product-stars {
    margin: 10px 0;
}

.product-stars img {
    height: 16px;
}

.product-body {
    padding: 0 10px;
}

.product-name {
    /*height: 24px;*/
    /*overflow: hidden;*/
}

.product:hover .product-name {
    height: auto;
    /*overflow: hidden;*/
}

.product-name a {
    color: #0c5460;
    word-wrap: break-word
}

.product-name a:hover {
    text-decoration: none;
    color: #e31837;
}

.new-price {
    font-size: 26px;
}

/**/
.old-price {
    font-size: 20px;
    color: #ccc;
    text-decoration: line-through;
}

.characteristics {
    font-size: 14px;
}

.buy-buttons {
    padding: 10px 0;


}

.product-bottom {

    padding: 0 10px;
}

.product-bottom * {
    vertical-align: middle;

}