#photo_container{
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 4px;
    color: #ccc;
}

#photo{
    display: none;
}

.hint:hover{
    background-color: #eee;
    cursor: pointer;
}